<!Doctype HTML>
<meta charset="utf-8" />
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="./bootsrap/css/bootstrap.css" rel="stylesheet" type="text/css"/> -->
	<link href="./css/index.css" rel="stylesheet" type="text/css">
	<!--jQuery (부비스트랩의 자바스크립트 플러그인을 위해 필요한)-->
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<style>



</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div id="header">
<h1>IRICOM</h1>
</div>

<div id="header1">
	<ul> 
		<li><a class="active" href= "#home">전체보기</a></li>
		<li><a href="#news">유머</a></li>
		<li><a href= "#Contact">연예</a></li>
		<li><a href= "#about">정치</a></li>
		<li><a href= "#about">동물</a></li>
</div>

<div id="section">
	<table class="table_list" summary="게시판" cellspacing="0">
		<colgroup>
			<col width="8%" />
			<col width="*" />
			<col width="5%" />
			<col width="10%" />
			<col width="5%" />
			<col width="5%" />
		</colgroup>
		<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">제목</th>
				<th scope="col">작성자</th>
				<th scope="col">작성일</th>
				<th scope="col">조회수</th>
				<th scope="col">추천수</th>
			</tr>
		</thead>
		<tbody>
			
			<% data.forEach(function (item, index){ %>
			<tr>
				<td class="num"><%= item.id %></td>
			 	<td class="title">
				 	<a href="/post=<%= item.id %>"><%= item.title %></a>
				 	<img src="http://i.imgur.com/Yvbxouy.png" alt="Smiley face" width="20" height="20">
			 	</td>
			 	<td>IRICOM</td>
			 	<td class="num"><%
			 	var month = item.time.getMonth() + 1;
			 	if (month < 10){
			 		month = '0' + month;
			 	}

			 	var date = item.time.getDate();
			 	if (date < 10){
			 		date = '0' + date;
			 	}
			 	%>
			 	<%=
			 	item.time.getFullYear() + "-" + month + "-" + date %></td>
			 	<!-- TODO : Need to change the time format to YYYY-mm-dd -->
			 	<td class="num"><%= item.inquiry_num %></td>
			 	<td class="num"><%= item.like_num %></td>
		 	</tr>
			<% });%>
		</tbody>
	</table>
	<br>	
	<form>
  		<input type="text" name="search" placeholder="Search..">
	</form>
</div>

<br>

<div class="paging"> 
	<a href="/page=1" class="btn_arr first"><span class="hide"><<</span></a>

	<%
	if (cur_page > 1) {
		%> <a href="/page=<%= cur_page - 1 %>" class="btn_arr prev"><span class="hide"><</span></a> <%
	}else{
		%> <a href="/page=1%>" class="btn_arr prev"><span class="hide"><</span></a> <%
	}
	%>
		
	<%
		var max_pages = 9;
		if (parseInt(pages) < 9){
			max_pages = parseInt(pages);
		}
		
		if (parseInt(pages) == 0){
			max_pages = 1;
		}
		
		if (parseInt(cur_page) <= 5){
			for (var i = 1; i <= max_pages; i++){
				if (parseInt(cur_page) == i){
					%> <b> <%= i %></b><%
				}else{ %> 
					<a href="/page=<%= i %>"> <%= i %></a><%
				}
			}
		}else if (parseInt(cur_page) >= 6){
			for (var i = parseInt(cur_page) - 4; i < parseInt(cur_page); i++){
				%> <a href="/page=<%= i %>"> <%= i %></a><% 
			}
			%> <b> <%= cur_page %></b><%
			if (parseInt(cur_page) + 4 < parseInt(pages)){
				for (var i = parseInt(cur_page) + 1; i <= parseInt(cur_page) + 4; i++){
					%> <a href="/page=<%= i %>"> <%= i %></a><% 
				}
			}else{
				for (var i = parseInt(cur_page) + 1; i <= parseInt(pages); i++){
					%> <a href="/page=<%= i %>"> <%= i %></a><% 
				}
			}				
		}
		
		
	%>

	<%
	if (pages == 0){
		%>
		<a href="/page=<%= cur_page %>" class="btn_arr next"><span class="hide">></span></a> 
		<a href="/page=<%= cur_page %>" class="btn_arr last"><span class="hide">>></span></a>
		<%
	} else if (pages == 1) {
		%>
		<a href="/page=<%= cur_page %>" class="btn_arr next"><span class="hide">></span></a> 
		<a href="/page=<%= cur_page %>" class="btn_arr last"><span class="hide">>></span></a>
		<%
	} else if (pages > 1) {
		if (cur_page == pages){
			%>
			<a href="/page=<%= cur_page %>" class="btn_arr next"><span class="hide">></span></a> 
			<%
		}else{
			var nextpage = ++cur_page;
			%> <a href="/page=<%= nextpage %>" class="btn_arr next"><span class="hide">></span></a>  <%
		}
		%>
		<a href="/page=<%= pages %>" class="btn_arr last"><span class="hide">>></span></a>
		<%
	}
	%>
</div>

<div id="footer">
Copyright &copy; IRICOM.com
</div>

</head>
</body>
</html>
