<!Doctype HTML>
<meta charset="utf-8" />
<html>
<head>
	<title>이리콤</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="./bootsrap/css/bootstrap.css" rel="stylesheet" type="text/css"/> -->
	<link href="./css/index.css" rel="stylesheet" type="text/css">
	<link href="mobile.css" type = "text/css" media = "screen and (max-device-width:48-px)" rel="stylesheet"/>
	<!--jQuery (부비스트랩의 자바스크립트 플러그인을 위해 필요한)-->
	<link rel = "icon" href = "http://i.imgur.com/7GHfqub.png"/>

	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div id="header" style = "width:100%; height:100%;">
	<a href="/">
		<img src="http://i.imgur.com/5GdmoVl.png" alt="face" width="150" height="150">
	</a>
</div>

<div id="header1">
	<ul id = "first">
		<li class = "first"><a ></a></li>
		<!-- <li><a href="#news">유머</a></li>
		<li><a href= "#Contact">연예</a></li>
		<li><a href= "#about">정치</a></li>
		<li><a href= "#about">동물</a></li> -->
</div>

<table>
	<tr align="center">
		<td>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- IndexAd1 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-3848140631863782"
			     data-ad-slot="7078653752"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</td>
	</tr>
</table>

<div id="section">
	<table class="table_list" summary="게시판" cellspacing="0" style="width:100% height:100%">
		<colgroup>
			<col width="6%" />
			<col width="40%" />
			<!-- <col width="5%" /> -->
			<col width="15%" />
			<col width="9%" />
			<col width="9%" />
		</colgroup>
		<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">제목</th>
				<!-- <th scope="col">작성자</th> -->
				<th scope="col">작성일</th>
				<th scope="col">조회수</th>
				<th scope="col">추천수</th>
			</tr>
		</thead>
		<tbody>
			
			<% posts.forEach(function (item, index){ %>
			<tr>
				<td class="num" style="color:#7A7A7A";><%= item.id %></td>
				<td class="title">
					<% if (cur_page == 1){
						if (keyword == null){
							%>
							<a href="/post=<%= item.id %>"><%= item.title %>&nbsp; <% if (item.reply_num != 0) { %>[<%=item.reply_num%>]&nbsp;<% }%></a>
							<%
						}else{
							%>
							<a href="/search=<%= keyword %>&post=<%= item.id %>"><%= item.title %> &nbsp;<% if (item.reply_num != 0) { %>[<%=item.reply_num%>]&nbsp;<% }%></a>
							<%
						}
					}else if (cur_page > 1){
						if (keyword == null){
						%>
						<a href="/page=<%=cur_page%>&post=<%= item.id %>"><%= item.title %> &nbsp;<% if (item.reply_num != 0) { %>[<%=item.reply_num%>]&nbsp;<% }%></a>
						<%
						}else{
						%>
						<a href="/search=<%=keyword%>&page=<%=cur_page%>&post=<%= item.id %>"><%= item.title %> &nbsp;<% if (item.reply_num != 0) { %>[<%=item.reply_num%>]&nbsp;<% }%></a>
						<%	
						}
					}%>
					
					<% 
					var cur = new Date(); 

					if (item.time.getFullYear() + "-" + item.time.getMonth() + "-" + item.time.getDate() ==
						cur.getFullYear() + "-" + cur.getMonth() + "-" + cur.getDate()){
						%> 
						<img src="http://i.imgur.com/y9yG0Ed.png" alt="Smiley face" width="9" height="9">
						<%
						}%>
				 	
			 	</td>
			 	<!-- <td>IRICOM</td> -->
			 	<td class="num" style ="font-size:10px;"><%
			 	var month = item.time.getMonth() + 1;
			 	if (month < 10){
			 		month = '0' + month;
			 	}

			 	var date = item.time.getDate();
			 	if (date < 10){
			 		date = '0' + date;
			 	}
			 	%>
			 	<%=
			 	item.time.getFullYear() + "-" + month + "-" + date %></td>
			 	<!-- TODO : Need to change the time format to YYYY-mm-dd -->
			 	<td class="num"><%= item.inquiry_num %></td>
			 	<td class="num"><%= item.like_num %></td>
		 	</tr>
			<% });%>
		</tbody>
	</table>
	<br>	
	<form method="post">
  		<input type="text" name="search" placeholder="검색..">
	</form>
</div>

<table>
	<tr align="center">
		<td>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- IndexAd2 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-3848140631863782"
			     data-ad-slot="2949505356"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</td>
	</tr>
</table>

<div id="paging" class="content-width ci-link">
	<ul class = "pagination list-unstyled clearfix"> 
	<%if (keyword != null) {
		%><li class ="prevpage">
		<!-- <a href="/search=<%=keyword%>" class="btn_arr first"><span class="hide"><< INIT</span></a></li> -->
		<a href="/search=<%=keyword%>" id="prevPage"><span class=""><<</span></a></li>
		<%
	}else{
		%><li class ="prevpage">
		<!-- <a href="/page=1" class="btn_arr first"><span class="hide"><< INIT</span></a></li> -->
		<a href="/page=1" id="prevPage"><span class=""><<</span></a></li>
		<%
	}
	%>
	

	<%
	if (cur_page > 1) {
		if (keyword != null){
			%> <li><a href="/search=<%= keyword %>&page=<%= cur_page - 1 %>" id="prevPage"><span class="hide"><</span></a> </li><%
		}else{
			%> <li><a href="/page=<%= cur_page - 1 %>" id="prevPage"><span class="hide"><</span></a> </li><%
		}
	}else{
		if (keyword != null){
			%> <li><a href="/search=<%= keyword %>&page=1%>" id="prevPage"><span class="hide"><</span></a> </li><%
		}else{
			%> <li><a href="/page=1%>" id="prevPage"><span class="hide"><</span></a></li> <%
		}
	}
	%>
		
	<%
		var max_pages = 9;
		if (parseInt(pages) < 9)	{ max_pages = parseInt(pages); }
		if (parseInt(pages) == 0)	{ max_pages = 1; }
		
		if (parseInt(cur_page) <= 5){
			for (var i = 1; i <= max_pages; i++){
				if (parseInt(cur_page) == i){
					%> <li>
					<a class = "num"> <span class ="selected"> <%= i %></span></a>
					</li>
					<%
				}else{ 
					if(keyword != null){
						%>
						<li>
						<a href="/search=<%= keyword %>&page=<%= i %>" class = "num"> <%= i %></a>
						</li>
						<%
					}else{
						%><li>
						<a href="/page=<%= i %>"> <%= i %></a>
						</li>
						<%
					}%> 
					<%
				}
			}
		}else if (parseInt(cur_page) >= 6){
			for (var i = parseInt(cur_page) - 4; i < parseInt(cur_page); i++){
				if (keyword != null){
					%><li> <a class = "num" href="/search=<%= keyword %>&page=<%= i %>"> <%= i %></a></li><% 
				}else{
					%><li> <a href="/page=<%= i %>"> <%= i %></a></li><% 
				}
			}
			%> <li><a class = "num"><span class = "selected"> <%= cur_page %></span></a>
			</li>
			<%
			if (parseInt(cur_page) + 4 < parseInt(pages)){
				for (var i = parseInt(cur_page) + 1; i <= parseInt(cur_page) + 4; i++){
					if (keyword != null){
						%> <li><a class = "num" href="/search=<%= keyword %>&page=<%= i %>"> <%= i %></a></li><% 
					}else{
						%><li> <a class ="num" href="/page=<%= i %>"> <%= i %></a></li><% 
					}
				}
			}else{
				for (var i = parseInt(cur_page) + 1; i <= parseInt(pages); i++){
					if (keyword != null){
						%><li> <a class = "num" href="/search=<%= keyword %>&page=<%= i %>"> <%= i %></a></li><% 
					}else{
						%><li> <a class = "num" href="/page=<%= i %>"> <%= i %></a></li><% 
					}
				}
			}				
		}

	if (pages == 0){
		if (keyword != null){
			%><li class = "nextpage">
			<a href="/search=<%= keyword %>&page=<%= cur_page %>" id = "nextPage" rel ="next"><span class=""> ></span></a> </li>
			<li>
			<a class ="num" href="/search=<%= keyword %>&page=<%= cur_page %>"><span class=""> >></span></a></li>
			<%
		}else{
			%><li class = "nextpage">
			<a href="/page=<%= cur_page %>" id = "nextPage" rel ="next"><span class=""> ></span></a></li>
			<li> 
			<a href="/page=<%= cur_page %>" class="num"><span class=""> >></span></a></li>
			<%
		}
	} else if (pages == 1) {
		if (keyword != null){
			%>
			<li class = "nextpage">
			<a href="/search=<%= keyword %>&page=<%= cur_page %>" id = "nextPage" rel = "next"><span class=""> ></span></a> </li>
			<li>
			<a href="/search=<%= keyword %>&page=<%= cur_page %>" class="num"><span class=""> >></span></a></li>
			<%
		}else{
			%>
			<li class = "nextpage">
			<a href="/page=<%= cur_page %>" id = "nextpage" rel ="next"><span class=""> ></span></a></li>
			<li>
			<a href="/page=<%= cur_page %>" class="num"><span class=""> >></span></a></li>
			<%
		}	
	} else if (pages > 1) {
		if (cur_page == pages){
			if (keyword != null){
				%>
				<li class = "nextpage">
				<a href="/search=<%= keyword %>&page=<%= cur_page %>" id = "nextPage" rel = "next"><span class=""> ></span></a> </li>
				<%
			}else{
				%>
				<li class = "nextpage">
				<a href="/page=<%= cur_page %>" id ="nextPage" rel = "next"><span class=""> ></span></a></li>
				<%
			}
		}else{
			if(keyword != null){
				var nextpage = ++cur_page;
				%><li class = "nextpage"> <a href="/search=<%= keyword %>&page=<%= nextpage %>" id = "nextpage" rel = "next"><span class=""> ></span></a></li>  <%
			}else{
				var nextpage = ++cur_page;
				%><li class ="nextpage"><a href="/page=<%= nextpage %>" id="nextPage" rel = "next"><span class=""> ></span></a></li>  <%
			}
		}
		if (keyword != null){
			%><li>
			<a href="/search=<%= keyword %>&page=<%= pages %>" class="btn_arr last"><span class=""> >></span></a></li>
			<%
		}else{
			%><li>
			<a href="/page=<%= pages %>" class="btn_arr last"><span class=""> >></span></a></li>
			<%
		}
	}
	%>
	</ul>
</div>

<div id="footer">
Copyright &copy; IRICOM.net
</div>

</head>
</body>
</html>
