<!Doctype HTML>
<meta charset="utf-8" />
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="./bootsrap/css/bootstrap.css" rel="stylesheet" type="text/css"/> -->
    <link href="./css/post.css" rel="stylesheet" type="text/css">

    <!--jQuery (부비스트랩의 자바스크립트 플러그인을 위해 필요한)-->
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script src="post.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div id="header">
    <a href="/">
        <img src="http://i.imgur.com/ji2nrFp.png" alt="face" width="100" height="100">
    </a>
</div>

<div id="header1">
    <ul id = "first"> 
        <li><a ></a></li>
        <!-- <li><a href="#news">유머</a></li>
        <li><a href= "#Contact">연예</a></li>
        <li><a href= "#about">정치</a></li>
        <li><a href= "#about">동물</a></li> -->
        
</div>

<div class="container">
    <hr/>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-dondensed">
                <thead>
                    <tr align="center">
                        <th colspan="2"> <%= post.title %></th>
                    </tr>
                </thead>
            </table>
            <hr/>
            <table class="table table-dondensed">
                <tbody>
                    <tr>
                        <td><font size="2">작성일</font>
                        </td>
                        <td><font size="2">
                        <%= post.time.getFullYear() + "-" + (post.time.getMonth() + 1) + "-" +post.time.getDate() + " " + post.time.getHours() + ":" + post.time.getMinutes() + ":" + post.time.getSeconds() %>
                        </font>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><font size="2">조회</font>
                        </td>
                        <td><font size="2"><span ><%= post.inquiry_num %></span></font>
                        </td>
                    </tr>
                    <tr>
                        <td><font size="2">추천 </font>
                        </td>
                        <td><font size="2"><span ><%= post.like_num %></span></font>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <p><%- post.contents %></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                        <a name="btnLike" onclick="like()"><img src = "http://i.imgur.com/ZzXI7gI.png" width = "100" height = "40"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr/>

<ul id="commentTable" class="second-list-style">
    <img src = "http://i.imgur.com/zqW4Y4b.png" width="49" height="19">
    <%

    %>
    <%
    function printComment(item){
        var month = item.time.getMonth() + 1;
        if (month < 10){
            month = '0' + month;
        }

        var date = item.time.getDate();
        if (date < 10){
            date = '0' + date;
        }

        var hour = item.time.getHours();
        if (hour < 10){
            hour = '0' + hour;
        }

        var minute = item.time.getMinutes();
        if (minute < 10){
            minute = '0' + minute;
        }

        var second = item.time.getSeconds();
        if (second < 10){
            second = '0' + second;
        }
        
        var html = '<li style="list-style-type:none;margin-left:' + parseInt(item.dimension) * 3 + '%;"' +
        'id="' + item.id + '" name="commentParentCode"><hr/>' +
        '<strong>' + item.name + '</strong>' + '&nbsp;<font size="1">' +  '&nbsp;&nbsp;' + item.time.getFullYear() + '-' + month + '-' + date + ' ' + hour + ':' + minute + ':' + second + '&nbsp;(' + item.ip.split('.')[0] + '.***' + '.***.' + item.ip.split('.')[3] + ')</font>&nbsp;' + 
        '<font size = "2">추천: ' + item.like_num + '<div align="right"><e style="cursor:pointer;" onclick="addComment(' + item.id + ',' + item.dimension + ')" name="pAdd">&nbsp;답글&nbsp;</e>' +
        '<e style="cursor:pointer;" onclick="likeReply(' + item.id + ')" name="pAdd">추천&nbsp;</e></font>' +
        '<e>' +  '</e></div>'+
        '<p>' +
        item.contents +
        '<br> </p> </li>';
        return html;
    }
    
    function childCommentHandler(rep, id){
        rep.forEach(function (innerItem, innderIndex){
            if (innerItem.reply_id == id){
                %> <%- printComment(innerItem); %> <%
                childCommentHandler(rep, innerItem.id);
            }
        });
    } %>

    <% reply.forEach(function (item, index){ 
        if (item.dimension == 0){
        %>
            <%- printComment(item); %>
            <%- childCommentHandler(reply, item.id); %>
            <%
            
        }
}); %>
</ul>

<table class="table table-condensed">
    <tr>
        <td>
            <span class="form-inline" role="form">
                <p>
                <div class="form-group">
                    <input type="text" id="commentParentName" name="commentParentName" class="form-control col-lg-2" data-rule-required="true" placeholder="이름" maxlength="10">
                    <input type="password" id="commentParentPassword" name="commentParentPassword" class="form-control col-lg-2" data-rule-required="true" placeholder="패스워드" maxlength="10">
                </div>

                </p>
            <textarea id="commentParentText" class="form-control col-lg-12" style="width:100%" rows="4"></textarea>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span style='float:right'>
                <div class="form-group">
                    <button type="button" id="commentParentSubmit" name="commentParentSubmit" class="btn btn-default">확인</button>
                </div>
            </span>
        </td>
    </tr>
</table>
<br>

</div>

<div id="section">
    <table class="table_list" summary="게시판" cellspacing="0">
        <colgroup>
            <col width="8%" />
            <col width="*" />
            <!-- <col width="5%" /> -->
            <col width="10%" />
            <col width="5%" />
            <col width="5%" />
        </colgroup>
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <!-- <th scope="col">작성자</th> -->
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
                <th scope="col">추천수</th>
            </tr>
        </thead>
        <tbody>
            
            <% posts.forEach(function (item, index){ %>
            <tr>
                <td class="num"><%= item.id %></td>
                <td class="title">
                    <% if (cur_page == 1){
                        if (keyword == null){
                            %>
                            <a href="/post=<%= item.id %>"><%= item.title %> &nbsp;<% if (item.reply_num != 0) { %>[<%=item.reply_num%>]&nbsp;<% }%></a>
                            <%
                        }else{
                            %>
                            <a href="/search=<%= keyword %>&post=<%= item.id %>"><%= item.title %> &nbsp;<% if (item.reply_num != 0) { %>[<%=item.reply_num%>]&nbsp;<% }%></a>
                            <%
                        }
                    }else if (cur_page > 1){
                        if (keyword == null){
                        %>
                        <a href="/page=<%=cur_page%>&post=<%= item.id %>"><%= item.title %> &nbsp;<% if (item.reply_num != 0) { %>[<%=item.reply_num%>]&nbsp;<% }%></a>
                        <%
                        }else{
                        %>
                        <a href="/search=<%=keyword%>&page=<%=cur_page%>&post=<%= item.id %>"><%= item.title %> &nbsp;<% if (item.reply_num != 0) { %>[<%=item.reply_num%>]&nbsp;<% }%></a>
                        <%  
                        }
                    }%>
                    <% 
                    var cur = new Date(); 

                    if (item.time.getFullYear() + "-" + item.time.getMonth() + "-" + item.time.getDate() ==
                        cur.getFullYear() + "-" + cur.getMonth() + "-" + cur.getDate()){
                        %>
                        <img src="http://i.imgur.com/y9yG0Ed.png" alt="Smiley face" width="9" height="9">
                        <%
                        }%>
                </td>
                <!-- <td>IRICOM</td> -->
                <td class="num"><%= item.time.getFullYear() + "-" + (item.time.getMonth() + 1) + "-" +item.time.getDate() %></td>
                <td class="num"><%= item.inquiry_num %></td>
                <td class="num"><%= item.like_num %></td>
            </tr>
            <% });%>
        </tbody>
    </table><br>
</div>

<form method="post">
    
        <input type="text1" name="search" placeholder="검색..">
</form>

</div>
</div>

<br>

<div class="paging"> 
    <%if (keyword != null) {
        %>
        <a href="/search=<%=keyword%>" class="btn_arr first"><span class="hide"><< INIT</span></a>
        <%
    }else{
        %>
        <a href="/page=1" class="btn_arr first"><span class="hide"><< INIT</span></a>
        <%
    }
    %>
    

    <%
    if (cur_page > 1) {
        if (keyword != null){
            %> <a href="/search=<%= keyword %>&page=<%= cur_page - 1 %>" class="btn_arr prev"><span class="hide">< PREV</span></a> <%
        }else{
            %> <a href="/page=<%= cur_page - 1 %>" class="btn_arr prev"><span class="hide">< PREV</span></a> <%
        }
    }else{
        if (keyword != null){
            %> <a href="/search=<%= keyword %>&page=1%>" class="btn_arr prev"><span class="hide">< PREV</span></a> <%
        }else{
            %> <a href="/page=1%>" class="btn_arr prev"><span class="hide">< PREV</span></a> <%
        }
    }
    %>
        
    <%
        var max_pages = 9;
        if (parseInt(pages) < 9)    { max_pages = parseInt(pages); }
        if (parseInt(pages) == 0)   { max_pages = 1; }
        
        if (parseInt(cur_page) <= 5){
            for (var i = 1; i <= max_pages; i++){
                if (parseInt(cur_page) == i){
                    %> <b> <%= i %></b><%
                }else{ 
                    if(keyword != null){
                        %><a href="/search=<%= keyword %>&page=<%= i %>"> <%= i %></a><%
                    }else{
                        %><a href="/page=<%= i %>"> <%= i %></a><%
                    }%> 
                    <%
                }
            }
        }else if (parseInt(cur_page) >= 6){
            for (var i = parseInt(cur_page) - 4; i < parseInt(cur_page); i++){
                if (keyword != null){
                    %> <a href="/search=<%= keyword %>&page=<%= i %>"> <%= i %></a><% 
                }else{
                    %> <a href="/page=<%= i %>"> <%= i %></a><% 
                }
            }
            %> <b> <%= cur_page %></b><%
            if (parseInt(cur_page) + 4 < parseInt(pages)){
                for (var i = parseInt(cur_page) + 1; i <= parseInt(cur_page) + 4; i++){
                    if (keyword != null){
                        %> <a href="/search=<%= keyword %>&page=<%= i %>"> <%= i %></a><% 
                    }else{
                        %> <a href="/page=<%= i %>"> <%= i %></a><% 
                    }
                }
            }else{
                for (var i = parseInt(cur_page) + 1; i <= parseInt(pages); i++){
                    if (keyword != null){
                        %> <a href="/search=<%= keyword %>&page=<%= i %>"> <%= i %></a><% 
                    }else{
                        %> <a href="/page=<%= i %>"> <%= i %></a><% 
                    }
                }
            }               
        }

    if (pages == 0){
        if (keyword != null){
            %>
            <a href="/search=<%= keyword %>&page=<%= cur_page %>" class="btn_arr next"><span class="hide">NEXT ></span></a> 
            <a href="/search=<%= keyword %>&page=<%= cur_page %>" class="btn_arr last"><span class="hide">LAST >></span></a>
            <%
        }else{
            %>
            <a href="/page=<%= cur_page %>" class="btn_arr next"><span class="hide">NEXT ></span></a> 
            <a href="/page=<%= cur_page %>" class="btn_arr last"><span class="hide">LAST >></span></a>
            <%
        }
    } else if (pages == 1) {
        if (keyword != null){
            %>
            <a href="/search=<%= keyword %>&page=<%= cur_page %>" class="btn_arr next"><span class="hide">NEXT ></span></a> 
            <a href="/search=<%= keyword %>&page=<%= cur_page %>" class="btn_arr last"><span class="hide">LAST >></span></a>
            <%
        }else{
            %>
            <a href="/page=<%= cur_page %>" class="btn_arr next"><span class="hide">NEXT ></span></a> 
            <a href="/page=<%= cur_page %>" class="btn_arr last"><span class="hide">LAST >></span></a>
            <%
        }   
    } else if (pages > 1) {
        if (cur_page == pages){
            if (keyword != null){
                %>
                <a href="/search=<%= keyword %>&page=<%= cur_page %>" class="btn_arr next"><span class="hide">NEXT ></span></a> 
                <%
            }else{
                %>
                <a href="/page=<%= cur_page %>" class="btn_arr next"><span class="hide">NEXT ></span></a> 
                <%
            }
        }else{
            if(keyword != null){
                var nextpage = ++cur_page;
                %> <a href="/search=<%= keyword %>&page=<%= nextpage %>" class="btn_arr next"><span class="hide">NEXT ></span></a>  <%
            }else{
                var nextpage = ++cur_page;
                %> <a href="/page=<%= nextpage %>" class="btn_arr next"><span class="hide">NEXT ></span></a>  <%
            }
        }
        if (keyword != null){
            %>
            <a href="/search=<%= keyword %>&page=<%= pages %>" class="btn_arr last"><span class="hide">LAST >></span></a>
            <%
        }else{
            %>
            <a href="/page=<%= pages %>" class="btn_arr last"><span class="hide">LAST >></span></a>
            <%
        }
    }
    %>
</div>

<script>

</script>
<div id="footer">
Copyright &copy; INDEXPAGE.net
</div>

</head>
</body>
</html>